/* Start Variables */
:root {
    --main-color: #00c7fc;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --pargraph-color: #777;

}

/* End Variables */
/* Start Global Rules */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* ::selection {
    background-color: ;
    color: ;
} */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* End Global Rules */
/* Start Componants */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 70px;
    letter-spacing: 2px;
    position: relative;
    font-size: 40px;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: #333;
    bottom: -30px;
    right: 50%;
    transform: translatex(50%);
}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #333;
    bottom: -38px;
    right: 50%;
    transform: translatex(50%);
}

.main-heading p {
    color: var(--pargraph-color);
    max-width: 100%;
    margin: 0 auto 100px;
    width: 550px;
    line-height: 2;
}

@media(max-width:767px) {
    .main-heading p {
        font-size: 10px;
    }
}

/* End Componants */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 103px;

}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}

header .container .logo img {
    height: 40px
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul li a {
    padding: 40px 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 4;


}

header .container nav ul li {
    transition: 0.3s;
}

header .container nav .form {
    padding-left: 10px;
    width: 40px;
    height: 30px;
    margin-top: 13px;
    position: relative;
    margin-left: 30px;
}

header .container nav .form .search {
    color: white;
    width: 40px;
    padding-left: 10px;
    border-left: #a2a2a2 solid 2px;
}



header nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media(min-width:768px) {
    .toggle-menu {
        display: none;

    }
}

header nav ul {
    display: flex;

}

@media(max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
        padding-left: 0px;
    }

    header nav ul li a {
        padding: 15px !important;

    }

    header nav ul li a {
        padding: 40px 10px;
        display: block;
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s;
        position: relative;
        z-index: 2;
        transition: 0.3s;
    }
}

/* End Header */
/* Start Landing */
.landing {
    margin: 0px;
    background-image: url("landing.jpg");
    background-size: cover;
    background-color: #1f2021;
    min-height: 100vh;
    position: relative;
}

.landing .overlay {
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    width: 100%;
    height: 100%;
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 520px;
}

.landing .text .content h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.6;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

@media(max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content h2 {
        font-size: 21px;
        line-height: 2;
    }

    .landing .text .content p {
        font-size: 10px;
    }
}

.change-background {
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;

}

.landing .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.landing .bullets li:last-child {
    margin-right: 0;
}

@media (max-width:767px) {
    .change-background {
        display: none;
    }
}

/* End Landing */
/* Start Services */
.services {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
}

@media(min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        margin-bottom: 200px;
        grid-column-gap: 60px;
        grid-row-gap: 30px;
    }

}

@media(max-width:767px) {
    .services .services-container .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }

    .services .services-container .srv-box h3 {
        font-size: 14px;
    }

    .services .services-container .srv-box p {
        font-size: 13px;
    }
}


.services .services-container .srv-box {
    display: flex;

}

.services .services-container .srv-box i {
    margin: 20px 40px;
}

.services .services-container .srv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .services-container .srv-box p {
    color: var(--pargraph-color);
    ;
    font-size: 14px;
    line-height: 2;
}

/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(internet\ technology\ background_185483.png);
    background-size: cover;
    height: 600px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.design::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.design .image,
.design .text {
    z-index: 2;
    flex: 1;
    position: relative;
}

.design .image {
    text-align: center;
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
}

@media(min-width:768px) {
    .design .text h2 {
        font-size: 40px;
    }
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
}


.design .text li {
    padding: 15px 0;
}



.design .text li::before {
    font-family: "Font Awesome 5 FREE";
    content: "\F390";
    font-weight: 900;
    margin-right: 20px;
}

@media(max-width:991px) {
    .design .image img {
        display: none;
    }
}

@media(max-width:767px) {
    .design .text h2 {
        font-size: 15px;
        text-align: center;
        width: 100%;
        position: relative;
    }

    .design .text li {
        font-size: 13px;
    }

    .design .text ul li::before {
        margin-left: -50px;
    }
}

/* End Design */
/* Start Portfolio */
.portfolio {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0;
}

.portfolio .shuffle li {
    padding: 15px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.portfolio .shuffle li:not(:last-child) {
    margin-right: 10px;
}

.portfolio .shuffle li:hover {
    color: black;
    border-bottom: 1px solid var(--main-color);
    transition: 0.3s;
    background-color: var(--main-color);

}

.portfolio .shuffle .active {
    background-color: var(--main-color);
}

@media(max-width:767px) {
    .portfolio .shuffle {
        padding-left: 0px;
    }
}

.portfolio .imgs-container {

    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-container .box:hover .captian {
    bottom: 0px;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
    filter: blur(10px);
}

@media(max-width:767px) {
    .portfolio .imgs-container .box {
        min-width: 375px;
    }

    .portfolio {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(min-width:768px) {
    .portfolio .imgs-container .box {
        flex-basis: 48%;
    }
}

@media(min-width:1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 24%;
    }
}

.portfolio .imgs-container .box .captian {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: white;
    transition: 0.3s linear;
    width: 100%;
    padding: 20px;
}

.portfolio .imgs-container .box .captian h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .captian p {
    color: var(--main-color);
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s linear;
}


.portfolio .more {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: var(--main-color);
    padding: 15px 20px;
    width: fit-content;
    margin: 30px auto;
    display: block;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}

.portfolio .more:hover {
    background-color: transparent;
    color: var(--main-color);
}

/* End Portfolio */
/* Start Video */
.video {
    position: relative;
    width: 100%;

}

.video video {
    width: 100%;

}

.video video::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    text-align: center;
    width: 100%;
}

@media(max-width:767px) {
    .video .text {
        padding: 20px;
    }

    .video .text h2 {
        font-weight: normal;
        text-transform: uppercase;
        color: white;
        font-size: 15px;
    }

    .video .text p {
        font-size: 7px;
        margin-bottom: 0px;
    }

    .video .text button {
        font-size: 10px;
        padding: 5px !important;

    }
}

.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: white;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 1px solid black;
    transition: 0.3s;
    font-weight: bold;
}

.video .text button:hover {
    background-color: transparent;
    color: black;
}

/* End Video */
/* Start About As */
.about {
    text-align: center;
    padding-top: var(--section-padding);
    overflow: hidden;
}

.about img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}

@media(max-width:767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End About As */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(internet\ technology\ background_185483.png);
    background-size: cover;
    width: 100%;
    position: relative;
}

.stats::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--transparent-color);
    padding: 50px;

}

.stats .container .box {
    position: relative;
    text-align: center;
    color: white;
}

.stats .container .box i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
    position: relative;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
}

.stats .container .box p {
    margin-bottom: 10px;
    font-size: 14px;
}

@media(max-width:767px) {
    .stats .container {
        width: 90%;
        margin: auto;
    }

    .stats .container .box {
        position: relative;
    }

    .stats .container .box:nth-child(2)::after {
        display: none;
    }

    .stats .container .box:nth-child(2)::before {
        content: "";
        display: none;
    }

    .stats .container .box:first-child::after {
        content: "";
        position: absolute;
        width: 150px;
        height: .5px;
        background-color: white;
        bottom: -5px;
        right: 50%;
        transform: translateX(50%);
    }

    .stats .container .box:nth-child(3)::before {
        content: "";
        display: none;
    }

    .stats .container .box:nth-child(3)::after {
        content: "";
        position: absolute;
        width: 150px;
        height: .5px;
        background-color: white;
        top: 5px;
        right: 50%;
        transform: translateX(50%);
    }

    .stats .container .box:last-child::after {
        content: "";
        position: absolute;
        width: 150px;
        height: .5px;
        background-color: white;
        top: 5px;
        right: 50%;
        transform: translateX(50%);
    }

    .stats .container .box:last-child::before {
        content: "";
        display: none;
    }

    .stats .container .box i {
        margin-top: 20px;
    }

    .stats .container .box {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .stats .container .box {
        position: static;
    }

    .stats .container .box:nth-child(2)::before {
        content: "";
        position: absolute;
        width: .5px;
        height: 450px;
        background-color: white;
        right: 50%;
        transform: translateX(50%);
        bottom: 15px;
    }

    .stats .container .box:nth-child(2)::after {

        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        right: 50%;
        bottom: 48%;
        transform: translateY(50%)translateX(50%);

    }

    .stats .container .box:nth-child(3)::before {
        content: "";
        position: absolute;
        width: 350px;
        height: .5px;
        background-color: white;
        margin-top: 10px;
        left: -22%;
        transform: translateX(50%);
    }

    .stats .container .box:last-child::before {
        content: "";
        position: absolute;
        width: 350px;
        height: .5px;
        background-color: white;
        margin-top: 10px;
        right: -22%;
        transform: translateX(-50%);
    }

    .stats .container .box i {
        margin-top: 30px;
    }


}

@media(min-width:768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media(min-width:992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

/* End Stats */
/* Start Our Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container .testimonials .content {
    display: flex;
    align-items: center;
}

.our-skills .container .testimonials .content .text {
    font-size: 16px;
    color: var(--pargraph-color);
    margin-top: 45px;
    line-height: 1.8;
    text-align: center;
    border-bottom: var(--pargraph-color) solid 1px;
}

.our-skills .container .testimonials .content .text p {
    text-align: right;
}

.our-skills .container .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin: 60px 30px 30px 0
}

.our-skills .container>div>h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container>div p {
    color: var(--pargraph-color);
    text-align: center;
    line-height: 2;
}

.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width:992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container .testimonials .bullets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    width: 70px;
    margin: 50px auto 50px auto;
    padding: 0;
}

.our-skills .container .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: .5px solid #aaa;

}

.our-skills .container .testimonials .bullets li:nth-child(2) {
    background-color: var(--main-color);
    border: none;
}

.our-skills .skills {
    display: flex;
    flex-direction: column;

}

.our-skills .skills .prog-holder {
    margin-top: 15px;
}

.our-skills .skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;


}

.our-skills .skills .prog-holder .prog {
    width: 100%;
    height: 20px;
    background-color: #dedadc;

}

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    width: 100%;
    height: 20px;
    position: relative;
    content: attr(data-progress);
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    width: fit-content;
    height: fit-content;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 7px;
    position: absolute;
    top: -40px;
    right: -20px;


}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 8px;
    position: absolute;
    top: -12px;
    right: -7px;
}

/* End Our Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(internet\ technology\ background_185483.png);
    background-size: cover;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.quote .container {

    position: relative;
    z-index: 3;
}

q::before {
    font-family: "Font Awesome 5 FREE";

    width: 20px;
    height: 20px;
    color: white;
    background-color: transparent;
    /*quote left icon*/
}

q::after {
    font-family: "Font Awesome 5 FREE";
    width: 20px;
    height: 20px;
    color: white;
    background-color: transparent;
}

.quote .container span {
    display: block;
    color: var(--pargraph-color);
    font-size: 14px;
    margin: 20px auto;
    width: fit-content;
}

/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;

}

.pricing .plans .plan .head {
    text-align: center;
    border-top: var(--main-color) solid 1px;
    border-bottom: var(--main-color) solid 1px;
    padding: 30px 20px;
}

.pricing .plans .plan .head h3 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.pricing .plans .plan .head .number {
    font-size: 60px;
    font-weight: bold;

}

.pricing .plans .plan .head .number::before {
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    margin-left: 15px;
    top: -40px;
}

.pricing .plans .plan .head .number::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: 1px;
}


.pricing .plans .plan ul {
    padding: 0px 20px;
    text-align: center;
    border-bottom: var(--main-color) solid 1px;
}

.pricing ul li {
    padding: 20px;
    position: relative;
}

.pricing ul li:not(:last-child)::before {
    content: "";
    background-color: var(--main-color);
    height: 1px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.pricing .plans .plan .foot a {
    display: block;
    width: fit-content;
    color: black;
    margin: 0 auto;
    text-transform: uppercase;
    border: 1px var(--main-color) solid;
    text-decoration: none;
    padding: 15px 30px;
    transition: 0.3s;
}

.pricing .plans .plan .foot a:hover {
    color: var(--main-color);
}

.pricing .contact-text {
    margin-top: 50px;
    font-size: 20px;
    color: var(--pargraph-color);
    text-align: center;
}

.pricing .contact-link {
    display: block;
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin: 10px auto;
    border: transparent solid 1px;
    transition: 0.3s;
}

.pricing .contact-link:hover {
    background-color: white;
    color: var(--main-color);
    border: var(--main-color) solid 1px;
}

/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(internet\ technology\ background_185483.png);
    background-size: cover;
    position: relative;
}

.subscribe::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.subscribe .container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    padding: 0px;
}

@media (max-width:991px) {
    .subscribe .container {
        flex-direction: column;
    }

    .subscribe .container form input[type=email] {
        position: relative;
    }

    .subscribe .container i {
        position: absolute;
    }
}

.subscribe .container form {
    width: 500px;
    max-width: 100%;
    display: flex;
    position: relative;
}

.subscribe .container form i {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateX(-50%);
    left: 25px;
}

.subscribe .container form input[type=email] {

    width: calc(100% - 130px);
    padding: 20px 20px 20px 50px;
    background: none;
    border: 1px solid white;
    border-right: none;
    caret-color: var(--main-color);
    color: white;
    position: relative;
}

.subscribe .container form input[type=email]::placeholder {
    color: white;
}

.subscribe .container form input[type=email],
.subscribe .container form input[type=submit]:focus {
    outline: none;

}

.subscribe .container form input[type=submit] {
    width: 125px;
    padding: 20px 20px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid white;
    border-left: none;
    transition: 0.3s;
}

.subscribe .container form input[type=submit]:hover {
    background-color: #00c5fc42;
    color: var(--main-color);
    font-weight: bold;
    border: 1px solid var(--main-color);
}

.subscribe .container p {
    line-height: 2;
    color: white;
    text-align: center;
    margin-left: 50px;

}

/* End Subscribe */
/* Start Contact Us */
.contact-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}


.contact-us .container .contact {
    display: flex;
    justify-content: space-between;

}

@media(max-width:767px) {
    .contact-us .container .contact {
        display: flex;
        flex-direction: column;
    }
}

.contact-us .container .contact form {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 70%;
}

.contact-us .container .contact form .main-input {
    width: 100%;
    padding: 15px 30px;
    margin: 0 auto 20px;
}

.contact-us .container .contact form textarea {
    height: 250px;
}

.contact-us .container .contact form .main-input:focus {
    outline: none;
}

.contact-us .container .contact form .submit {
    width: fit-content;
    border: 1px solid transparent;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    display: flex;
    margin-left: auto;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}

.contact-us .container .contact form .submit:hover {
    background-color: transparent;
    color: var(--main-color);
}

.contact-us .container .contact form .submit:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: white;
}

@media(max-width:767px) {
    .contact-us .container .contact form .submit {
        margin: auto;
    }
}

.contact-us .container .contact .info {
    flex-basis: 25%;
}

@media(max-width:767px) {
    .contact-us .container .contact .info {
        order: -1;
        margin-top: 50px;
        text-align: center;
    }
}

.contact-us .container .contact .info h4,
.contact-us .container .contact .info h4:last-of-type {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}

@media(max-width:767px) {
    .contact-us .container .contact .info h4 {
        margin: 0;
    }
}

.contact-us .container .contact .info h4:last-of-type {
    margin-top: 70px;
}

@media(max-width:767px) {
    .contact-us .container .contact .info h4:last-of-type {
        margin-top: 20px;
    }
}

.contact-us .container .contact .info .phone {
    display: block;
    width: fit-content;
    padding: 10px 0;
    color: var(--pargraph-color);
}

@media(max-width:767px) {
    .contact-us .container .contact .info .phone {
        margin: 10px auto 0;
    }

    .contact-us .container .contact .info .phone:last-of-type {
        margin: 0 auto;
    }
}

.contact-us .container .contact .info address {
    padding: 10px 0;
}

@media(max-width:767px) {
    .contact-us .container .contact .info address {
        margin-bottom: 50px;
    }

}

/* End Contact Us */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) /2);
    padding-bottom: calc(var(--section-padding) /2);
    background-image: url(internet\ technology\ background_185483.png);
    background-size: cover;
    position: relative;
    color: white;
}

.footer::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.footer .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.footer .container p:not(.copyright) {
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    width: fit-content;
    padding: 15px;
    margin: auto;
}

.footer .container .social-icons {
    margin-top: 15px;
}

.footer .container .social-icons a:first-of-type i:hover {
    color: rgb(0 114 255);
}

.footer .container .social-icons a:nth-child(2) i:hover {
    color: red;
}

.footer .container .social-icons a:nth-child(3) i:hover {
    color: var(--main-color);
}

.footer .container .social-icons a:last-of-type i:hover {
    color: rgb(116, 234, 116);
}

.footer .container .social-icons a {
    color: white;
    padding: 10px;
}

.footer .container .copyright .title {
    color: var(--main-color);

}

/* End Footer */